*{
  margin: 0;
  padding: 0;
}

.headerapp{
  background-image: url('./assets/estemejor.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid red;
  padding: 10px;
}
.mainapp{
  display: flex;
  background-image: url('./assets/fondoororojo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  height: 800px;
}
.footerapp{
  background-color: black;
  height: 100px;
}
